# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PyProjects\MSER-Traffic-signs-recognition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
